<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Aljazera English News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron" style="color:black">

    <h1 style="color:black">

         News  Application📺
        <a href="{{url_for('bbc')}}"><button class="bt btn-danger">BBC</button></a>
       
       <button class="bt btn-warning">Aljazeera</button>
       <button class="bt btn-success">FOX NEWS</button>
       <button class="bt btn-info">CNN</button>
    </h1>

</div>
<style>

</style>

<div class="card-columns embed-responsive responsive">
    {% for new, des, i in context %}
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{{i}}" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title"> {{new}}</h5>
                  <p class="card-text">Description: {{des}}</p>
                </div>
              </div>

            {% endfor %}
</div>


</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}

  <title>{{Welcome to the best Movie REview website}}</title>

  (%endif%)
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html> -->